/* Задаём фиксированную схему раскладки таблицы */
.my-fixed-table {
    table-layout: fixed;
    width: 100%;
}

/* Колонке удаления даём ровно под кнопку */
.delete-column {
    width: 2.5rem; /* под размер Size.Small */
}

/* Скрываем кнопку, но она продолжает занимать место */
.delete-column-hiden {
    width: 2.5rem;
    visibility: hidden;
    transition: visibility 0s linear 0.1s;
}

/* При наведении на строку — показываем */
.delete-column-visible {
    width: 2.5rem;
    visibility: visible;
    transition-delay: 0s;
}
